[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-asyncio = "*"

[packages]
fib-microservice = {editable = true,path = "."}
fastapi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
