[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-asyncio = "*"
pylint = "*"

[packages]
fib-microservice = {editable = true,path = "."}
fastapi = "*"
pika = "*"
sqlalchemy = "*"
setuptools = "*"
psycopg2 = "*"
hypercorn = "*"
fastapi-utils = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
